html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video,.container-fluid{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	list-style-type: none; 
	box-sizing: padding-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
	display: block;
}
.container-fluid .row{
    margin: 0px;
    padding: 0px;
}
 .color{
	color: orange;
}
.btn{
	width: 180px;
	text-align: center;
	display: block;
	padding: 10px 0px; 
	border-radius: 210px;
	background-color: orange;
	color: #ffffff;
	font-family: "Roboto";
	text-transform: uppercase;
}


nav{
	padding: 20px 0px 0px 0px;
}
nav .row:nth-child(1){
	
}
nav .logo{
	display: block;
	width: 100%;
}
nav .logo h1{
	font-size: 45px;
	text-transform: uppercase;
	font-family: Roboto;
	color: #000000;
    text-align: center;
}

nav .logo p{
	font-size: 17px;
    text-align: center;
	font-family: Roboto;
	color: #000000;
}
nav .contact{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;;
}
nav .contact .conection{
	width: 213px;
	margin-right: 20px;
}
nav .contact .conection p{
	font-family: "Roboto";
	
	padding: 5px 0px 5px 40px;
}
nav .contact .conection p.phone{
  background: url(../img/icons/phone.PNG) no-repeat left center;
}
nav .contact .conection p.mail{
  background: url(../img/icons/mail.png) no-repeat left center;
}
nav .contact .conection p.mode{
  background: url(../img/icons/mode.png) no-repeat left center;
}
nav .nav-menu{
	padding: 20px;
	background-color: #0F4EB5;
	border-top: 10px solid orange;
	margin-top: 12px;
}
nav .menu{
	display: flex;
	justify-content: space-around;
	width: 800px;
	margin: auto;
}
nav .nav-menu li a{
	color: #ffffff;
	font-family: "Roboto";
}




header{
	background: url(../img/bg/main.jpg) no-repeat center;
	background-size: cover;
}
header .bg{
	padding: 130px 0px 150px 0px;
	background-color: rgba(000,000,000,.7)
}
header .bg .content{
  
	margin: auto;
}
header .bg h1{
	font-size: 60px;
	font-family: "Roboto";
	color: #ffffff;
	text-align: center;
}
header .bg h2{
	font-size: 25px;
	font-family: "Roboto";
	color: #ffffff;
	text-align: center;
}
header .bg p{
	color: #ffffff;
	font-size: 21px;
	font-family: "Roboto";
	text-align: center;
	margin-top: 16px;
}
header .bg h2{
	margin-top: 12px;
}
header .bg .btn{
    width: 230px;
	background-color: #0F4EB5;
	margin: auto;
	margin-top: 20px;
}




#fault{
    padding: 70px 0px 70px 0px;
   
}

#fault>h1{
	text-align: center;
	font-family: "Roboto";
	color:#0F4EB5;
	font-size: 45px;
    text-transform: uppercase
}
#fault .wrraper{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	width: 900px;
	margin: auto;
	margin-top: 50px;
}


#fault .wrraper .item{
    width: 290px;
    background-color: #0F4EB5;
    padding: 20px 0px;
    border: 4px solid #CE691E;;
    border-radius: 20px;
    margin-top: 12px;
}
#fault .wrraper .item .img-des{
     display: flex;
    justify-content: space-around;
    
}
#fault .wrraper .item .img-des img{
    width:85px;
    height: 85px;
}
#fault .wrraper .item .img-des .h-p{
    width: 120px;
}
#fault .wrraper .item .img-des h1{
    font-size: 19px;
    font-family: "Roboto";
    text-align: right;

    color: #ffffff;
}
#fault .wrraper .item .img-des p{
    text-align: right;
   
    font-family: "Roboto";
    color: #ffffff;
    margin-top: 12px;
}

#fault .wrraper .item button{
    width: 200px;
    display: block;
    margin: auto;
    outline: none;
    margin-top: 22px;
    padding: 10px;
    border: none;
    font-family: "Roboto";
    background-color:  #CE691E;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 10px;
}













#service{
	background-color: #0F4EB5;
	padding: 70px 0px 70px 0px;
}
#service *{
	padding: 0px;
}
#service>h1{
	text-align: center;
	font-family: "Roboto";
	color: #ffffff;
	font-size: 45px;
}
#service .wrraper{
	
	width: 810px;
	margin: auto;
	margin-top: 50px;
}
#service .wrraper .col-sm-4{
	
}
#service .wrraper .col-sm-4 p{
	width: 100%;
	text-align: center;
	padding: 20px;
	color: #CE691E;
	font-family: "Roboto";
	background-color: #ffffff;
	font-size: 18px;
    cursor: pointer;
}

#service .wrraper .col-sm-4:nth-child(1) p{
	border-top-left-radius: 120px;
	border-bottom-left-radius: 120px;
}
#service .wrraper .col-sm-4:nth-child(3) p{
	border-top-right-radius: 120px;
	border-bottom-right-radius: 120px;
}
#service .wrraper .col-sm-4 .active{
	background-color:  #CE691E;
	color: #ffffff;

}

#service .wrraper .list-serv{
	width: 100%;
	margin-top: 30px;
	
}
#service .wrraper .list-serv .des-serv{
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    color:#ffffff;
    border-bottom: 4px solid #CE691E;
    
}
#service .wrraper .list-serv  .des-serv p{
    padding-bottom: 10px;
    font-size: 25px;
}
#service .wrraper .list-serv .w1{
    display: none;
}
#service .wrraper .list-serv .w2{
    display: none;
}
#service .wrraper .list-serv .win .list .serv{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    border-bottom: 1px solid #ffffff;
}
#service .wrraper .list-serv .win .list .serv h1{
    font-family: "Roboto";
    color:#ffffff;
    font-size: 19px;
} 
#service .wrraper .list-serv .win .list .serv .price{
     font-size: 19px;
    font-family: "Roboto";
    color:#ffffff;
    text-align: right;
}

#service .wrraper .list-serv .win .list .serv .p-c{
    width: 140px;
    
}
#service .wrraper .list-serv .win .list .serv .p-c button{
    width: 100%;
    margin-top: 12px;
    padding:5px;
    font-family: "Roboto";
    background-color:  #CE691E;
    border: none;
    outline: none;
    color: #ffffff;
}

#advantages{
    padding: 70px 0px 70px 0px;
     
}
#advantages>h1{
    text-align: center;
	font-family: "Roboto";
    color:#CE691E;
	font-size: 45px;
    margin-bottom: 50px;
}
#advantages .wrraper{
    width: 1000px;
    margin: auto;
    margin-top: 20px;
}
#advantages .container-fluid {
   
}
#advantages .container-fluid .row:nth-child(1){
    margin-bottom: 12px;
}
#advantages .container-fluid .col-md-4{
    
}

#advantages .container-fluid .col-md-3 img{
    width: 90px;
    height: 90px;
    display: block;
    margin: auto;
    margin-bottom: 22px;
}
#advantages .container-fluid .col-md-3 h1{
    font-family: "Roboto";
	font-size: 16px;
    text-align: center;
    margin-bottom: 12px;
    color:#CE691E;
}
#advantages .container-fluid .col-md-3 p{
    font-family: "Roboto";
	font-size: 13px;
    text-align: center;
    color:#CE691E;
}

#stages{
      padding: 70px 0px 70px 0px;
      background-color: #0F4EB5;

}

#stages>h1{
    text-align: center;
    font-family: "Roboto";
    font-size: 45px;
    color: #ffffff;
}

#stages .wrraper{
    width: 1000px;
    margin: auto;
    margin-top: 52px;
}
#stages .wrraper *{
    margin: 0px;
    padding: 0px;
}
#stages .wrraper .block{
    width: 150px;
    height: 150px;
    margin: auto;
    text-align: center;
    font-size: 45px;
    border-radius: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
     font-family: "Roboto";
    border: 10px solid #ffffff;
    color: #ffffff;
}
#stages .wrraper h1{
    text-align: center;
    margin-top: 12px;
    font-size: 28px;
    font-family: "Roboto";
    color: #ffffff;
}
#stages .wrraper p{
    text-align: center;
    margin-top: 12px;
    font-family: "Roboto";
    color: #ffffff;
    padding: 0px 20px;
    font-size: 13px;
}









#offer{
    background-color:#CE691E;
}
#offer .wrraper{
    width: 1000px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
#offer .wrraper img{
    width: 100%;
}
#offer .wrraper h1{
    margin-bottom: 42px;
    font-family: "Roboto";
    font-size: 40px;
    color: #ffffff;
}
#offer .wrraper p{
    color: #ffffff;
    font-family: "Roboto";
    margin-bottom: 12px;
    font-size: 20px;
}
#offer .wrraper form{
   display: flex;
   margin-top: 20px;
}
#offer .wrraper form input{
    padding: 13px;
    font-family: "Roboto";
}
#offer .wrraper form input[type="text"]{
    width: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:none;
    outline: none;
}
#offer .wrraper form input[type="submit"]{
    width: 50%;
    border-radius: 20px;
    margin-left: -20px;
    border: none;
    outline: none;
    background-color: #0F4EB5;
    color: #ffffff;
}

#question{
    padding: 70px 0px;
}
#question .col-md-6:nth-child(2){
    display: flex;
    align-items: flex-end;
}
#question img{
    display: block;
    width: 100%;
   
}

#question h1{ 
    font-family: "Roboto";
    font-size: 40px;
    color: #0F4EB5;
}

#question .q-a{
    border-right: 2px solid #CE691E;;
}
#question .q-block{
    width: 100%;
    margin-top: 12px;
}

#question .q-block .q .c-o{
     width: 40px;
     height: 40px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}


#question .q-block .q{
    display: flex;
    align-items: center;
    font-weight: bold;
}
#question .q-block p{
   font-family: "Roboto";
    font-size: 25px;
    margin-left: 20px;
    width: 86%
}
#question .an{
    display: none;
}
#question .an p{ 
    font-family: "Roboto";
    padding-right: 5px;
}
#question .an p.sep{
    margin-top: 20px;
}


#contact{
    padding: 40px 0px;
    background-color:  #0F4EB5;;
    
}
#contact h1{
    font-family: "Roboto";
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
#contact form{
     width: 80%;
    margin: auto;
}
#contact form *{
    width: 100%;
    display: block;
    padding: 8px;
    margin-bottom: 12px;
    
}
#contact form textarea{
    height: 110px;
}
#contact form input[type="submit"]{
    width: 300px;
    margin: auto;
    
}