@font-face{
    font-family:"Caption";
    src:url('../fonts/PT_Sans_Caption.ttf') format("truetype");
    font-weight:normal;
    font-style:normal;
    
}
@font-face{
    font-family:"American-retro";
    src:url('../fonts/American-retro.ttf') format("truetype");
    font-weight:normal;
    font-style:normal;
    
}