html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, {
	display: block;
}
html{
	max-width: 1440px;
    margin: auto;
}
body {
	margin: 0px;
}
*{
    box-sizing: border-box;
    
}

/*==#1==*/
header{
    width: 100%;
    height: 700px;
    margin-bottom:0px;
    overflow: hidden;
}
header .slider{
    height: 100%;
    overflow: hidden;
}
header .slider .win{
    padding-top: 380px;
}
header .content{
    position: relative;
    top: -62px;
    z-index: 1;
}
header h1{
    color: white;
    font-family: American-retro;
    font-size: 54px;
    margin-right: 140px;
    text-align: right;
    width: 540px;
    float: right;
    
}
.shadow{
     text-shadow: 0px 0px  8px black;
}
header .content .navigation{
    display: flex;
    padding: 21px 0px 21px 220px;
    background: rgba(187,168,187,.7);
    clear: both;
}
header .content .navigation input[type="radio"]{
    display: none;
    
}
header .content  label{
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
}
header .content .navigation input[type="radio"]:checked+label{
    background-color: black;
}
header .content  label:nth-of-type(1n+2){
    margin-left: 20px;
}

/*==#2==*/
nav{
    width:100%;
    overflow: hidden;
    background-color: white;
    padding-top: 20px;
}
nav .wrapper{
    width: 967px;
    margin: auto;
    overflow: hidden;
}
.stickytop {
 position:fixed;
 top:0;
 z-index: 4;
}
nav .wrapper .img-1{
    width: 200px;
    float: left;
}
nav .wrapper>ul{ 
    overflow: hidden;
    width: 470px;
    float: left;
    list-style: none;
    margin: 40px 40px 0px 26px;
}
nav .wrapper>ul li{
    float: left;
    padding: 0px 20px 0px 20px;
    font-family: "Caption";
    font-weight: bold;
    cursor: pointer;
}
nav .wrapper>ul li:first-child{
    padding-left: 0px;
}
nav .wrapper>ul li:last-child{
    padding-right: 0px;
}
nav .wrapper .phones{
    float: left;
    margin-top: 34px;
}
nav .wrapper .phones p{
    font-size: 22px;
    font-weight: bold;
    font-family: Caption;
}
nav .wrapper .menu2{
    overflow: hidden;
    width: 100px;
     margin-right: 10px;
    float: right;
    display: none;
}
nav .wrapper .menu2 ul{
    overflow: hidden;
    width: 400px;

}
nav .wrapper .menu2 ul li{
    font-family: sans-serif;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    font-family: "Caption";
}
nav .wrapper .menu2 ul li a,
nav .wrapper ul li a{
    text-decoration: none;
   
}
.col{
  color: #795876;
}
nav .wrapper  .img-2{
   display: block;
   margin-left: 70px;
   cursor: pointer;
}

/*==#3==  #795876*/
#advanced_about{
    overflow: hidden;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 60px;
}
#advanced_about .wrapper{
    width: 967px;
    margin: auto;
    overflow: hidden;
   
}
#advanced_about .wrapper .advanced{
    overflow: hidden;
}
#advanced_about .wrapper .advanced .item{
    display: flex;
    float: left;
}
#advanced_about .wrapper .advanced .i1{
    width: 
}
#advanced_about .wrapper .advanced .item:nth-of-type(1n+2){
    margin-left: 74px;
}
#advanced_about .wrapper .advanced .item p{
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Caption;
}
#advanced_about  .about{
    width: 70%;
    background-color:#9aa8b1;
    margin: auto;
    margin-top: 120px;
    padding: 80px 90px ;
}
#advanced_about  .about h1{
    font-size: 51px;
     font-family: Caption;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: white;
    text-align: center;
}
#advanced_about  .about p{
     font-family: Caption;
    color: white;
    margin-bottom: 46px;
    line-height: 2;
}

#advanced_about  .advanced2{
    width: 970px;
    margin: auto;
    margin-top: 60px;
    height: 190px;
}
#advanced_about .advanced2 .item{
 float: left;
 width:190px;
 height: 190px;
 padding: 20px 0px 0px 10px;
 background-color:#EFEFEF;
 display: none;
}

#advanced_about .advanced2 .item:nth-of-type(1n+2){
    margin-left: 5px;
}
#advanced_about .advanced2 .item h1{
     color: #795876;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 100;
     font-family: Caption;
}
#advanced_about .advanced2 .item p{
    font-family: Caption;
    font-size: 17px;
    margin-top: 30px;
    font-weight:bold;
    padding: 5px;
}

/*=4=*/
#portfolio{
   width: 100%;
    overflow: hidden;
    padding-bottom:120px;

}
#portfolio h1{
    text-align: center;
    text-transform: uppercase;
    font-family: Caption;
    font-size: 40px;
    margin-bottom: 50px;
}
#portfolio .background{
    position: absolute;
    z-index: 3;
    top:0;
    left:0;
    width: 100%;
    padding: 30px 0px 100px 0;
    background-color:rgba(000,000,000, .3);
    display: none;
    
}
#portfolio .zoom{
    width:0;
    height:0;
    margin: auto;
    overflow: hidden;
    border: 10px solid #795876;
    background-color: white;
    display: none;
}

#portfolio .zoom span{
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 90%;
    top: 10%;
    border-radius: 120px;
    cursor: pointer;
    z-index: 5;
}
#portfolio .zoom .navigation{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -54px;
    background: rgba(000,000,000,.2);
}
#portfolio .zoom .right{
    width:50px;
    float: right;
}
#portfolio .zoom .left{
    width: 50px;
    float: left;
}
#portfolio .zoom .right img,#portfolio .zoom .left img{
    width: 50px;
    
}
#portfolio .zoom .line{
    width:100%;
    height:100%;
    overflow: hidden;
}
#portfolio .zoom .line .win1{
    width: 100%;
    height: 100%;
}
#portfolio .zoom .line .win1 img{
    width: 100%;
    height: 100%;
}
#portfolio .zoom span>img{
    width: 100%;
    height: 100%;
    border-radius: 120px;
   
}
#portfolio .zoom>img{
    width: 100%;
    height: 100%;
}
#portfolio .zoom .image2,#portfolio .zoom .image3{
    display: none;
}
#portfolio .wrapper{
   width: 1050px;
   margin: auto;
   overflow:hidden; 
}
#portfolio .wrapper .row{
    width: 100%;
    overflow: hidden;
}
#portfolio .wrapper .row .item{
   width: 350px;
   height: 260px;
   float: left;
}
#portfolio .wrapper .row .item .win{
    width: 100%;
    height: 100%;
}
#portfolio .wrapper .row .item .navigation{
    width: 100%;
    overflow: hidden;
    position: relative;
    top:-20px;
    padding:3px 0px 3px 0px;
    background: rgba(187,168,187,.7);
}

#portfolio .wrapper .row .item .nav{
    width:70px;
    margin:auto;
    z-index: 1;
}
#portfolio .wrapper .row .item .nav input[type="radio"]{
    display: none;
}
#portfolio .wrapper .row .item .nav label{
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    background-color: white;
    border-radius: 20px;
}
#portfolio .wrapper .row .item .nav label:nth-of-type(1n+2){
    margin-left: 10px;
}
#portfolio .wrapper .row .item .nav input[type="radio"]:checked+label{
    background-color: black;
}
/*=5=*/

#sentence{
    width: 100%;
    overflow: hidden;
    padding: 120px 0px 120px 0px;
    background-color:   rgb(187,168,187);
}
#sentence .wrapper{
    width: 1050px;
    overflow: hidden;
    margin: auto;
}
#sentence .wrapper .items{
    overflow: hidden;
}
#sentence .wrapper .items ul{
    width: 250px;
    margin-left: 20px;
    margin: auto;
    margin-top: 20px;
    list-style: none;
}
#sentence .wrapper .items ul li{
    padding: 10px 0px 10px 0px;
     font-family: Caption;
}


#sentence .wrapper .items .item{
    width: 340px;
    height: 1300px;
    background-color: white;
    float: left;
    padding-top: 60px;
    border-radius: 2px;
}
#sentence .wrapper .items .item img{
    display: block;
    margin:  30px auto 0px auto;
    border-radius: 210px;
}
#sentence .wrapper .items .item:nth-of-type(1n+2){
    margin-left: 14px;
}
#sentence .wrapper .items .item h1{
  font-family: Caption;
    text-align: center;
    font-size: 35px;
}
#sentence .wrapper .items .item h2{
    text-align: center;
    font-size: 21px;
    margin-top: 30px;
     font-family: Caption;
}
#sentence .wrapper .items .item h2:nth-of-type(1n+2){
    font-size: 19px
}
#sentence .wrapper .items .item p{
    text-align: center;
    font-family: sans-serif;
    color: grey;
    margin-top: 10px;
     font-family: Caption;
}
#sentence .wrapper .items .item .button1,
#sentence .wrapper .items .item .button2,
#sentence .wrapper .items .item .button3{
    width: 280px;
    margin: auto;
    text-align: center;
    padding: 10px 0px 10px 0px;
    background-color: #F13048;
    color: white;
    margin-top: 20px;
    display: none;
    cursor: pointer;
}
#sentence .wrapper .arrow{
    padding-top: 28px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 500px 0px; 
}
#sentence .wrapper .arrow .description{
    width: 100%;
    height: 316px;
    background-color: white;
}
#sentence .wrapper .arrow .description .name{ 
    width: 290px;
    float: left;
    margin-top: 12%;
    margin-left: 20px;
}
#sentence .wrapper .arrow .description .name h1{
    font-size: 40px;
   text-align: center;
    color: #795876;;
     font-family: Caption;
}
#sentence .wrapper .arrow .description .name h1.one,#sentence .wrapper .arrow .description .name h1.three{
    display: none;
}
#sentence .wrapper .arrow .description .d p{
    width: 650px;
    float: right;
    margin: 90px 40px 0px 0px;
    line-height: 1.5;
    font-family: Caption;
}
#sentence .wrapper .arrow .description .d p.f{
    margin-top: 50px;
}
#sentence .wrapper .arrow .description .d p.b,#sentence .wrapper .arrow .description .d p.f{
    display: none;
}
/*#6*/
#work{
    width: 100%;
    overflow: hidden;
    padding: 120px 0px 120px 0px;
}
#work>h1{
    text-align: center;
    font-family: Caption;
    font-size: 43px;
}
#work .wrapper{
    width: 1000px;
    margin: 30px auto;
}
#work .wrapper .row{
    width: 100%;
    overflow: hidden;
}
#work .wrapper .row:nth-of-type(1n+2){
   margin-top: 100px;
}
#work .wrapper .row .item{
    width: 450px;
    float: left;
    overflow: hidden;
}
#work .wrapper .row .item:nth-of-type(2n+1){
    margin-right: 100px;
}
#work .wrapper .row .item img{
    display: block;
    float: left;
}
#work .wrapper .row .item h1{
    float: left;
    width: 310px;
    margin:32px 0px 0px 40px;
    font-family: Caption;
}
/*#7*/
#work2{
    width: 100%;
    background: url(../img/mac_pc.jpg) no-repeat center;
    background-size: cover;
}
#work2 .bg{
    padding: 140px 0px 120px 0px;
    background-color: rgba(170,170,170,.8)
}
#work2 .bg>h1{
    text-align: center;
    font-size: 52px;
   font-family: Caption;
    text-transform: uppercase;
    color: white;
}
#work2 .wrapper{
    width: 1250px;
    overflow: hidden;
    margin: 100px auto 0px auto;
}
#work2 .wrapper .item{
    width: 250px;
    float: left;
    text-align: center
}
#work2 .wrapper .item img{
    display: block;
    margin: auto;
    
}

#work2 .wrapper .item h1{
    font-family: Caption;
    font-size:25px;
    margin-top: 12px;
    color:#795876;

}
#work2 .wrapper .item .m1{
    margin-top: 20px
}

#work2 .wrapper .item p{
    font-family: Caption;
    margin-top: 20px;
    color: white;
}
#work2 .wrapper .item ul{
    list-style: none;
}
#work2 .wrapper .item .list1{
    margin-top: 20px;
}
#work2 .wrapper .item .list2{
    margin-top: 20px;
}
#work2 .wrapper .item .list3{
    margin-top: 30px;
}
#work2 .wrapper .item .list4{
    margin-top: 30px;
}
#work2 .wrapper .item .list5{
        margin-top: 6px;
}
#work2 .wrapper .item ul li{
    font-family: Caption;
    padding-bottom: 10px;
    color: white;
}
/*#8*/
#partners{
    padding: 120px 0px 120px 0px;
    text-align: center;
    font-size: 55px;
    
}
#partners h1{
    font-family: Caption;
}
#partners .wrapper{
    width: 717px;
    margin: auto;
    overflow: hidden;
    margin-top: 40px;
    
}
#partners .wrapper .row{
    width: 100%;
    overflow: hidden;
}
#partners .wrapper .row img{
    width: 100%;
}
#partners .wrapper .row>div{
    float: left;
    overflow: hidden;
}
#partners .wrapper .row .partner1{
    width: 315px;
}
#partners .wrapper .row .partner2{
    width: 220px;
}
#partners .wrapper .row .partner3{
    width: 182px;
}
#partners .wrapper .row .partner4{
    width: 300px;
}
#partners .wrapper .row .partner5{
    width: 200px;
  
}
#partners .wrapper .row .partner6{
    width: 210px;
  
}
#partners .wrapper .row .partner7{
    width: 210px;
    margin-top: 0px;
}
#partners .wrapper .row .partner8{
    width: 207px;
  
}
#partners .wrapper .row .partner9{
    width: 207px;
  
}
/*#9*/
#contacts{
    width: 100%;
    overflow: hidden;
    background: url(../img/bg3.jpg) no-repeat center;
    background-size: cover;
}
#contacts .bg{
    background-color: rgba(200,191,231,.3);
     padding: 100px 0px 100px 0px;
}
#contacts .wrapper{
    width: 900px;
    margin: auto;
    overflow: hidden;
   
}
#contacts .wrapper .logo_map{
    float: left;
}
#contacts .wrapper .logo{
    width: 250px;
    display: block;
    margin-bottom: 70px;

}
#contacts .wrapper .map{
    border: 7px solid rgb(200,191,231);
    padding: 10px;
    border-radius: 260px;
    display: block;
}
#contacts .wrapper .contact{
    width: 453px;
    float: right;
    padding: 40px 0px 50px 60px;
    margin-top: 50px;
    margin-right: 20px;
    box-shadow: 0px 0px 50px 4px #D3D3D3;
    background-color: white;
}
#contacts .wrapper .contact h1{
    font-size: 61px;
    margin-bottom: 40px;
    font-family: Caption;
}
#contacts .wrapper .contact .phones,#contacts .wrapper .contact .d-w{
    margin-bottom: 40px;
}
#contacts .wrapper .contact .phones h2{
    font-size: 25px;
    font-family: Caption;
    
}
#contacts .wrapper .contact .phones p{
    font-size: 22px;
    font-family: Caption;
}
#contacts .wrapper .contact .d-w h2{ 
    font-size: 25px;
    font-family: Caption;
    
}
#contacts .wrapper .contact .d-w p{
    font-size: 22px;
    font-family: Caption;
}
#contacts .wrapper .contact .email1 h2{
    font-size: 25px;
    font-family: Caption;
    
}
#contacts .wrapper .contact .email1 p{
    font-size: 22px;
   font-family: Caption;
}
footer{
    background-color: #795876;
}
footer p{
   text-align: center;
   padding: 10px;
   color:white;
    font-family: Caption;
    font-size: 10px;
}