@font-face{
    font-family:'font1';
    src:url('../fonts/font1.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'font2';
    src:url('../fonts/font2.ttf');
    font-weight: normal;
    font-style: normal;
}