html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video,.container-fluid{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, {
	display: block;
}

body {

}
*{
    box-sizing: border-box;
    list-style: none;
}
header{
    
}
nav{
   width: 100%;
   background-color: black;
}
nav .wrraper{
    width: 1050px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
nav .wrraper .logo{
    display: block;
    width: 200px;
}
nav .wrraper .logo img{
    width: 100%;
}
nav .wrraper .w_m{
    text-align: center;
    padding-top: 10px;
    font-family: 'font1';
}
nav .wrraper .w_m p:nth-child(1){
    color: #ffffff;
}
nav .wrraper .w_m p .color{
    color: #f69c00;
}
nav .wrraper .w_m p:nth-child(2){
    color: #f69c00;
    border-top: 2px solid grey;
}
nav .wrraper .p_e{
    padding-top: 10px;
    color: #ffffff;
    font-family: 'font1'
}
nav .wrraper .button{
    padding-top: 15px;
    
}
nav .wrraper .button p{
  width: 100%;
  padding: 10px 20px;
  background-color: #f69c00;
  color: #ffffff;  
  cursor: pointer;
  border-radius: 120px;  
       font-family: 'font1'
}

header{
    
}

header .bg{
    padding: 80px 0px 32px 0px;
    background: url(../img/bg1.jpg) no-repeat center;
    background-size: cover;
}
header .bg .wrraper{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .bg .wrraper   .banner{
    width: 500px;
    
}
header .bg  .banner p{
    text-align: center;
    padding: 40px; 
    font-family: "font1";
    font-size: 12px;
    border: 8px solid #ffffff;
    border-radius: 30px;
    text-transform: uppercase;
    color: #ffffff;
    background-color:rgba(000,000,000,.7);
}
header .bg .wrraper  .image{
    margin-top: -250px;
}
header .bg .wrraper  .image img{
    width: 450px;
    display: block;
    margin: 42px 0px 0px 0px;
}
header .bg .wrraper  .image .label{
   background: url(../img/label.png) no-repeat center;
   padding: 30px;
   transform: rotate(340deg);
   position: relative;
   top: -120px;
}
header .bg .wrraper  .image .label h1{
      font-family: "font2";
      padding:0px 0px 0px;
      font-weight: bold;
      font-size: 30px;
     text-align: center;
     color: #C00A17;
    
}
header .bg .wrraper  .image .label h1 span{ 
    font-size: 40px;
}
header .bg .form{
    width: 400px;
    background-color:rgba(000,000,000,.7);
    padding:50px 0px 40px 0px;
    border-radius: 30px;
    border: 10px solid #ffffff;
}
header .bg .form h1{
    text-align: center;
    color: #ffffff;
    font-family:'font2';
    font-size: 24px;
    margin: auto;

}
header .bg .form form{
    width: 300px;
    margin: auto;
}
header .bg .form input[type="text"]{
    display: block;
    width: 100%;
    margin-top: 23px;
    border: 3px solid #f69c00;
    border-radius:13px;
    padding: 5px 0px 5px 0px
}
header .bg .form input[type="submit"]{
    width: 200px;
    display: block;
    margin: 52px auto 0px auto;
    padding: 11px 0px 12px;
    background-color:#f69c00;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-family:'font1';
    font-size: 19px;
}



@media screen and (max-width:1201px){
    header .bg{
        padding: 30px 0px 30px;
    }
}
@media screen and (max-width:1110px){
    header .bg{
        padding: 10px 0px 10px 0px;
    }
}

@media screen and (max-width:1075px){
   nav{
   width: 100%;
   background-color: black;
    }
    nav .wrraper{
        width: 90%;
    }
    
    nav .wrraper .logo{
        display: block;
        width: 150px;
    }
    nav .wrraper .logo img{
        width: 100%;
    }
    nav .wrraper .w_m{
        width: 200px;
    }
    nav .wrraper .p_e{
        width: 200px;
    }
    nav .wrraper .button{

    }
}
@media screen and (max-width:1045px){
    header .bg .wrraper{
        width: 90%
    }
    header .bg .wrraper .banner{
        width: 430px;
    }
    header .bg .wrraper .form{
        width: 300px;
        padding-left: 0px;
        padding-right: 0px
    }
    header .bg .wrraper .form h1{
        width: 90%
    }
    header .bg .form form{
        width: 90%;
    }

}
@media screen and (max-width:827px){    
    header .bg{
        padding: 10px 0px 0px;
    }
    header .bg .banner p{
        padding: 10px
    }
    header .bg .wrraper .form{
        width: 90%;
        padding-left: 0px;
        padding-right: 0px
    }
    header .bg .wrraper  .image{
    margin-top: 0px;
        width: 410px;
   }
     header .bg .wrraper  .image img{
       width: 100%;
       }
    header .bg .wrraper>div{
        margin: 10px auto;
    }
    header .bg .wrraper  .image .label{
        background: url(../img/label2.png) no-repeat center;
    }
    
}
@media screen and (max-width:508px){    
    header .bg{
        padding: 10px 0px 0px;
    }
    header .bg .banner{
        width: 90%;
    }


     header .bg .wrraper  .image img{
       width: 100%;
       }

}


#adv{
    padding: 120px 0px 120px 0px;
    background-color:#141414;
}

#adv h1{
    text-align: center;
    font-size: 45px;
    font-family: "font2";
    color: #f69c00;
    margin-bottom: 100px;
    text-transform: 
}

#adv .wrraper{
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#adv .wrraper .item{
    width: 220px;
    height: 220px;
;
    padding-top: 30px;
}


#adv .wrraper .item img{
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
}

#adv .wrraper .item p{
    text-align: center;
    font-size: 17px;
    font-family: 'font1';
    color: #ffffff;
    margin-top: 12px;
}


#catalog{
	
	background-color:#f69c00;
	padding: 120px;
}

#catalog h1{
	text-align: center;
	font-family: 'font2';
	font-size: 60px;
	margin-bottom: 80px;
}

#catalog .wrraper{
	width: 850px;
	margin: auto; 
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: flex-start;
}

#catalog .wrraper .item{
	width: 250px;
	
}
#catalog .wrraper .item .image{
	width: 100%;
}
#catalog .wrraper .item .image img{
	width: 100%;
	height: 100%;
	display: block;
}
#catalog .wrraper .item  p{
	padding: 10px;
}
#catalog .wrraper .item  p.label{
	padding: 10px;
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #000000;
	color: #ffffff;
	font-family:"font1";
	font-size: 18px;
}

#catalog .wrraper .item  p.req{
	width:195px;
	margin: auto;
	text-align: center;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #AD0A01;
	color: #ffffff;
	font-family:"font1";
}

