html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    list-style: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
	display: block;
}
body {
	margin: 0px;
}
*{
    box-sizing: border-box;
}
p,a{
    font-family: sans-serif;
}
/*block1*/
nav{
      overflow: hidden;
}
nav p{
    font-size: 23px;
    width: 400px;
    float: left;
    margin: 50px 0px 0px 120px;
}
nav img{
    display: block;
    width: 100%;
}
nav ul.nav-bar{
    width: 200px;
    float: right;
    
    margin: 50px 120px 0px 0px;
}
nav ul.nav-bar li{
    padding:10px 0px 10px 0px;
}
nav ul.nav-bar li a{
    text-decoration: none;
    color: black;
}
@media  screen and (max-width:900px){
	nav p{
		float: none;
		margin: auto;
	    width: 80%l
	}
	nav ul.nav-bar{
		float: none;
		margin: 40px auto 0px;
	}
	nav ul.nav-bar li{
		text-align: center;
	}
}



/*block2*/
#gallery{
	width: 100%;
	height: 300px;
	overflow: hidden;
}
#gallery  .slider div {
  opacity: 1;
}
#gallery .slick-prev{
    width: 41px;
    height: 87px;
    background:url(../img/left.png) no-repeat;
    
}
#gallery .slick-next{
  width: 41px;
    height: 87px;  background:url(../img/right.png) no-repeat;
}
#gallery  .slider div p{
	text-align: center;
}
@media  screen and (max-width:723px){
	#gallery{
		height: 430px
	}
}
@media  screen and (max-width:490px){
	#gallery{
		height: 330px
	}
}
/*block3*/
#info{
	width: 100%;
	overflow: hidden;
}
#info .baner{
	border: 1px solid black;
	width: 250px;
	height: 200px;
	float: left;
}
#info .baner:first-child{
	width: 250px;
	height: 200px;
	float: left;
	margin-left: 150px;
	border: 1px solid black;
	margin-right: 52px;
}
#info .video{
	float: right;
	width: 300px;
	height: 200px;
	margin-right: 220px;
}
#info .video iframe{
	width: 100%;
	height: inherit
}
@media  screen and (max-width:1250px){
	#info .baner:first-child{
		width: 200px;
		height: 150px;
	}
	#info .baner{
		width: 200px;
		height: 150px
	}
	#info .video{
		margin-right: 180px;
	}
}
@media  screen and (max-width:1110px){
	#info .baner:first-child{
		margin-right: 20px;
	}
	#info .video{
		margin-right: 130px;
	}
}
@media  screen and (max-width:1050px){
	#info{
		padding-top: 20px;
	}
	#info .baner:first-child{
		float: left;
		margin-left: 100px;
		margin-bottom: 20px;
		width: 250px;
  	}
	#info .b2{
		float: right;
		 margin-right: 100px;
		 width: 250px;
	}
	#info .video{
	float: none;
    clear: both;
	width: 400px;
	margin: 30px auto 0px;
	height: 200px;

}
}
@media  screen and (max-width:769px){
	#info .baner:first-child{
		float: none;
		width: 49%;
		margin: auto;
		margin-bottom: 40px;
  	}
	#info .b2{
		float: none;
		margin-bottom: 120px;
		width: 49%;
		margin: auto;
		margin-bottom: 40px;
	}
	#info .video{
	float: none;
    clear: both;
	width: 400px;
	margin: 30px auto 0px;
	height: 200px;

}
}
@media  screen and (max-width:500px){
	
	#info .video{
	width: 95%;
	margin: auto;

}
}