

.headerUP{
    animation-name: headerUP;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
   
}
.headerDown{
    animation-name: headerDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
   
}

@keyframes headerUP{
    from{
        
        
    }
    to{
       transform: translate(0px,-20px);
        
    }
    
}
@keyframes headerDown{
    from{
        transform: translate(0px,-20px);
    }
    to{
       transform: translate(0px,10px);
        
    }
    
}