html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video,.container-fluid{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, {
	display: block;
}
body {

}
*{
    box-sizing: border-box;
    list-style: none;
}
* input[type="text"]:focus{
   outline:none
}
.left{
  left: -280px;
}
#move-win{
    width: 280px;
    position: fixed;
    height: 100%;
    padding: 0px;
    background-color: rgba(000,000,000,.7);
    z-index: 2;
    left: -280px;
}
#move-win .ex{
    width: 30px;
    height:30px;
    float: right;
}
#move-win .ex img{
    width: 100%;
    cursor: pointer;
}

#move-win ul{
    width: 100%;
    margin: 120px auto 0px auto;
}
#move-win ul li{
    padding: 10px 0px;
    text-align: center;
}
#move-win ul li a{
    color: #ffffff;
    transition:color,background-color 2s;
    display: block;
    padding: 7px;
    
}
#move-win ul li a:hover{
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}






/* Page 1*/
header#index{
    width: 100%;
    background: url(../img/bg/bg3.jpg) no-repeat center;
    background-size: cover;
    
}
header#index .bg{
   height: inherit;
   background-color: rgba(000,000,000,.5);
      padding-bottom: 225px;
}
header#index .bg .call{
   transition-property: background-color,color;
   transition-duration: 2s;
   cursor: pointer;
}
header#index .bg .call:hover{
    background-color: #ffffff;
    color: #000000;
}
header#index .bg a:hover{
    text-decoration: none;
}
.logo .container-fluid{
}
.logo .container-fluid .row:nth-child(1){
    padding-bottom: 20px;
}
.logo .container-fluid .col-md-4{
    padding: 30px 0px 0px 0px;
}
.logo .col-md-4:nth-child(1){
     padding: 50px 0px 0px 0px;
}
.logo .col-md-4:nth-child(1) p{
    text-align: center;
    color: #ffffff;
}
.logo .col-md-4:nth-child(2) img{
    width:140px;
    display: block;
    margin: auto;
}
.logo .col-md-4:nth-child(3) p:nth-child(1){
    color: #ffffff;
    text-align: center;
}
.logo .col-md-4:nth-child(3) p:nth-child(2){
    width: 200px;
    text-align: center;
    margin: auto;
    padding: 10px 0px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius:50px;
}
nav ul.menu-1,footer ul.menu-1{
    padding: 20px 0px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
nav ul.menu-1 li a{
    color: #ffffff;
    font-weight: 500;
}
header#index .bg .win{
    width: 840px;
    margin: auto;
    height: 260px;
}
header#index .bg .content1,header .bg .content2{
    width: 100%;
    margin: auto;
   
}
header#index .bg .content1 h1,header#index .bg .content2 h1,header#index .bg .content1 p,header#index .bg .content2 p{
    color: #ffff;
    text-align: center;
}
header#index .bg .content1 h1,
header#index .bg .content2 h2{
    font-size: 47px;
}
header#index .bg .content1 p,header#index .bg .content2 p{
    margin: 50px 0px 70px;
    font-size: 19px;
}
header#index .bg .content1 a,
header#index .bg .content2 a{
    display: block;
    text-align: center;
    width: 200px;
    margin: auto;
    padding: 10px;
    border-radius: 220px;
    background-color:#409DFC;
    color: #ffffff;
    transition:background-color 2s;
}
header#index .bg .content1 a:hover,
header#index .bg .content2 a:hover{
     background-color: #3375D9;
}
header#index .bg .content2{
    display: none;
}
header#index .bg  .switch{
    width: 60px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
header#index .bg  .switch span{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 140px;
    border: 3px solid #3375D9;
    cursor: pointer;
}

.sw_col{
    background-color: #ffffff;
}

.m-b{
    width: 40px;
    height: 33px;
    margin: auto;
    cursor: pointer;
    display: none;
}

.m-b span{
    display: block;
    height: 6px;
    background-color: #ffffff;
    border-radius: 120px;
}

 .m-b span:nth-child(2){
    margin: 7px 0px;
}

@media screen and (max-width:990px){
    header#index .bg{
        padding: 0px 0px  120px 0px;
    }
    header#index .bg nav .menu-1{
        display: none;
    }
        
    header#index .bg .win{
        width:90%;
        margin: auto;
        height: 260px;
    }
    header#index .bg nav .m-b{
        display: block;
        margin-top: 40px;
    }
    header#index .bg nav{
        background-color: #09234A;
        padding-bottom: 20px;
    }
    header#index .bg #logo{
        width: 110px;
    }
    
    header#index .bg .content1 p,header#index .bg .content2 p{
        margin: 40px 0px 30px;
    
    }
    header#index .bg .content1 a,
    header#index .bg .content2 a{
        display: block;
        text-align: center;
        width: 200px;
        margin: auto;
        padding: 10px;
        border-radius: 220px;
        background-color:#409DFC;
        color: #ffffff;
        transition:background-color 2s;
    }
}
@media screen and (max-width:767px){
    header#index{
        background:url(../img/bg/bg3-767.jpg) no-repeat ;
        background-position: 0px 280px;
    }
    header#index .bg{
        
    }
    header#index .bg #logo{
        width:80px;
        margin: 10px auto;
    }
    .logo .container-fluid .col-md-4{
        padding: 0px 0px 0px 0px;
    }
    #menu2{
        display: none;
    }
    header#index .bg nav .call{
        padding: 3px 0px;
    }
    header#index .bg nav .m-b{
        margin: 10px auto;
    } 
    header#index .bg nav{
        padding-bottom: 10px;
    }
    header#index .bg .content1 p,header#index .bg .content2 p{
        margin: 10px 0px 20px;
    
    }
}
@media screen and (max-width:767px){
    header#index{
        background:url(../img/bg/bg3-767.jpg) no-repeat ;
        background-position: 0px 280px;
    }
    header#index .bg .content1,header#index .bg .content2{
        margin: 110px auto 0px auto;
    }
}

@media screen and (max-width:524px){
    
     header#index .bg .win{
        width:90%;
        margin: 0px  auto 0px auto;
        height:240px;
    }
}
















section{
    padding: 120px 0px 0px 0px; 
}
section#block1 .wrapper>h1{
    text-align: center;
}
section#block1{
    background-color: #EAEAEA;
} 
section#block1 .wrapper{
    width: 1200px;
    margin: -250px auto 0px;
    background-color: #EEEEEE;
    padding-top: 40px;
}
section#block1 .services{
    height:350px;
    margin: 50px auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}
section#block1 .services .item{
    width: 33%;
    height: 171px;
    cursor: pointer;
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
section#block1 .services .item img{
    width: 70px;
    height: 70px;
}


section#block1 .wrapper .services .item .con h1{
    font-size: 17px;
    text-align: right;;
    width: 140px;
    margin: 10px auto;
    position: relative;
}

section#block1 .wrapper .services .item .con a{
    
    width: 100%;
    margin:  0px auto;
    text-align: center;
    padding: 4px;
    border-radius: 130px;
    border: 2px solid black;
    display: block;
    transition-property: background-color,color; transition-duration: 1s;  
    color: #000000;
    
}
section#block1 .wrapper .services .item .con a:hover{
    background-color:#000000;
    color: #ffffff;
    text-decoration: none;
}
@media screen and (max-width:1221px){
    section#block1{
        padding-top: 0px;
    }
    section#block1 .wrapper{
       width: 80%;
       margin-top: 0px;
    }
    section#block1 .services{
        width: 100%;
        height: auto
        
    }
    section#block1 .services .item{
        width: 270px;
        margin: 10px 0px;
    }   
}
@media screen and (max-width:696px){
    
    section#block1 .services .item{
        width: 100%;
        margin: 10px 0px;
    }   
}




#block2 .col-md-6{
   
}
#block2 .col-md-6 img{
    width: 100%;
}

#block2 .col-md-6:nth-child(2){
    padding-top: 50px;
    padding-bottom: 30px;
}
#block2 .col-md-6:nth-child(2) h1{
    text-align: center;
    font-size: 24px;
}
#block2 .col-md-6:nth-child(2) h2{
    text-align: center;
    font-size: 14px;
}
#block2 .col-md-6:nth-child(2) p{
    padding: 45px;
    margin-top: 20px;
}



#block3{
    padding-bottom: 120px;
    background-color: #EEEEEE;
}
#block3 h1{
    text-align: center;
}
#block3 .container{
    width: 70%;
}
#block3 .container .row .col-md-6{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    height: 35px;
}
#block3 .container .row .col-md-6 input[type="text"]{
    width: 98%;
    border:none;
    border-bottom: 1px solid #000000;
    font-size: 18px;
    background-color: transparent;
}

#block3 .container .row .col-md-6 input[type="text"].metka{
    background: url(../img/metka.png) no-repeat; 
    padding-left: 35px;
}


#block3 .query-but{
    width: 200px;
    margin: 30px auto 0px;
    text-align: center;
    padding: 10px 0px;
    background-color: #3375D9;
    border-radius: 120px;
    color: #ffffff;
    cursor: pointer;
}


footer{
    text-align: center;
    font-weight: 600;
}
footer img{
    width: 80px;
    display: block;
    margin: 20px auto;
}

footer p{
    font-weight: 540;
    font-size: 14px;
}
/*====end===*/



/* Page 2*/
header#ap{
    width: 100%;
    background-color: #09234A;
    background-size: cover;
    color: #ffffff;
    padding-bottom: 20px;
}


#ap .container-fluid .row:nth-child(1){
    padding-bottom: 20px;
}
#ap .container-fluid .col-md-4{
    padding: 30px 0px 0px 0px;
}
#ap .col-md-4:nth-child(1){
     padding: 50px 0px 0px 0px;
}
#ap .col-md-4:nth-child(1) p{
    text-align: center;
    color: #ffffff;
}
#ap .col-md-4:nth-child(2) img{
    width:140px;
    display: block;
    margin: auto;
}
#ap .col-md-4:nth-child(3) p:nth-child(1){
    color: #ffffff;
    text-align: center;
}
#ap .col-md-4:nth-child(3) p:nth-child(2){
    width: 200px;
    text-align: center;
    margin: auto;
    padding: 10px 0px;
    border: 2px solid #ffffff;
    border-radius:50px;
    cursor: pointer;
}
header#ap .call{
     color: #ffffff;
    transition-property: background-color color;
    transition-duration: 2s;
}
header#ap .call:hover{
    background-color: #ffffff;
    color: #000000;
}

#ap ul.menu-1,footer ul.menu-1{
    padding: 20px 0px 0px;;
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#ap ul.menu-1 li a{
    color: #ffffff;
    font-weight: 500;
}


@media screen and (max-width:990px){
    .m-b{
        display: block;
    }
    #ap .col-md-4:nth-child(2) img{
    width: 110px;
    display: block;
    margin: auto;
    }
    #ap ul.menu-1,footer ul.menu-1{
        display: none;
    }
    
}

@media screen and (max-width:767px){
   
    #ap .container-fluid .col-md-4{
        padding: 0px 0px 0px 0px;
    }
   
}
















#s-c{
    padding: 50px 0px;
    background-color: #EAEAEA;
}
#s-c .sidebar li{
    background-color: #ffffff;
    margin: 5px 0px;
    padding: 1px 0px 1px 0px;
}
#s-c .sidebar li a{
    display: block;
    padding: 10px 0px 10px 60px;
    margin: 10px 0px;
    transition-property: color;
    transition-duration: 5ms;
}
#s-c .sidebar li a:hover{
    text-decoration: none;
}
#s-c .sidebar li:nth-child(1) a{
    background: url(../img/service/icon-sidebar1.png) no-repeat center left; 
}
#s-c .sidebar li:nth-child(2) a{
    background: url(../img/service/icon-sidebar2.png) no-repeat center left; 
}
#s-c .sidebar li:nth-child(3) a{
    background: url(../img/service/icon-sidebar3.png) no-repeat center left; 
}
#s-c .sidebar li:nth-child(4) a{
    background: url(../img/service/icon-sidebar4.png) no-repeat center left; 
}
#s-c .sidebar li:nth-child(5) a{
    background: url(../img/service/icon-sidebar5.png) no-repeat center left; 
}
#s-c .sidebar li:nth-child(6) a{
    background: url(../img/service/icon-sidebar6.png) no-repeat center left; 
}
#s-c .container .row .col-md-8 .content h1{
    margin-top: 30px;
}
#s-c .container .row .col-md-8 .content p:nth-child(2){
  margin:50px 0px 30px 0px;
}
#s-c .list li{
    padding: 5px 0px 5px 24px;
    background: url(../img/point.png) no-repeat 5px 14px;
}
#block3-1{
    padding-bottom: 120px;
    background-color: #ffffff;
}
#block3-1 h1{
    text-align: center;
}
#block3-1 .container{
    width: 70%;
}
#block3-1 .container .row .col-md-6{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    height: 35px;
}
#block3-1 .container .row .col-md-6 input[type="text"]{
    width: 98%;
    border:none;
    border-bottom: 1px solid #000000;
    font-size: 18px;
    background-color: transparent;
}

#block3-1 .container .row .col-md-6 input[type="text"].metka{
    background: url(../img/metka.png) no-repeat; 
    padding-left: 35px;
}


#block3-1 .query-but{
    width: 200px;
    margin: 30px auto 0px;
    text-align: center;
    padding: 10px 0px;
    background-color: #3375D9;
    border-radius: 120px;
    color: #ffffff;
    cursor: pointer;
}
.bg-footer{
    display: block;
    padding: 20px;
    font-weight: 600;
    background-color: #EEEEEE;
}
.bg-footer .menu-1{
    margin-bottom: 12px;

}