html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video,.container-fluid{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    font-weight: normal;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, {
	display: block;
}
body {

}
h1,p,a{
        font-family:"BN";
}

*{
    box-sizing: border-box;
    list-style: none;
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(000,000,000,.5);
    z-index: 3;
    width: 100%;
    cursor: pointer;
}
#overlay2{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(000,000,000,.7);
    z-index: 6;
    width: 100%;
    cursor: pointer;
}
#manager{
    width: 600px;
    margin: auto;
    padding:20px 0px;
    background-color: #356aff;
    position: absolute;
    z-index: 8;
    top: 460px;;
    left: 0;
    right: 0;
    display: none;
}
#manager span{
    position: absolute;
    width: 60px;
    height: 60px;
    top: -16%;
    left: 95%;
    cursor: pointer;
}
#manager span img{
    width: 100%;
}
#manager h1{
    text-align: center;
    margin-bottom: 20px;
    color: #ffff;
}
#manager p{
    cursor: pointer;
    
}
#manager input{
    padding: 10px ;
    width: 400px;
    display: block;
    margin: auto;
    text-align: center;
}
#manager p{
    width: 250px;
    text-align: center;
    margin: 35px auto 0px;
    padding: 14px;
     background-color: #ffe400;
}
#about,#price,#work,#ls,#contact{
    width: 85%;
    display: none;
    margin: auto;
    text-align: center;
    padding: 10px 0px;
    font-family: sans-serif;
    line-height: 2.2;
    position: absolute;
    z-index: 5;
    background-color:#ffffff;
    top: 149px;
    left: 0;
    right: 0;
    
}
#about span,#price span,#work span,#ls > span,#contact span{
    display: block;
    position: absolute;
    top: -60px;
    left: 96.2%;
    width: 90px;
    height: 100px;
    cursor: pointer;
}
#about{
    padding: 10px 40px;
}
#about span img{
    width: 100%;
}
#about h1{
    font-size: 28px;
    margin-bottom: 40px;
     font-family: sans-serif;
}
#about p{
    font-size: 16px;
     font-family: sans-serif;
}
#about .button,#price .button,#work .button,#ls .button,#contact .button {
    width: 220px;
    margin: 40px auto 20px;
    padding: 10px;
    background-color: #ffb400;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
     font-family: sans-serif;
}


#price{
    padding: 10px 40px;
}
#price span img{
    width: 100%;
}
#price h1{
    font-size: 26px;
    font-weight: normal;
    margin: 50px 0px 10px 0px;
    font-family: sans-serif;
}
#price p{
    font-family: sans-serif;
}
#price .links{
    display: flex;
    width: 500px;
    margin: 20px auto 20px auto;
    justify-content: space-around;
    
    
}
#price .links .item img{
    width: 111px;
    display: block;
    margin: auto;
}
#price .links .item a{
    font-size: 12px;
    font-family: sans-serif;
    color: gray;
}
#price>a{
    color: #356aff;
    font-family: sans-serif;
}


#work{
    display: none;
    padding: 0px;
}
#work span img{
    width: 100%;
}
#work h1{
    font-size: 27px;
    margin-bottom: 30px;
    font-family: sans-serif;
}
#work h2{
    font-family: sans-serif;
}
#work .w{
    width: 540px;
    margin: 50px auto;
}
#work .w .row{
    display: flex;
    justify-content:space-around;
}
#work .w .row:nth-child(1){
    width:380px;
    margin: auto;
}
#work .w .row:nth-child(2){
    width: 510px;
     margin: -35px auto 0px auto;
}
#work .w .row:nth-child(1) img{
    width: 120px;
    height: 150px;
    
}
#work .w .row:nth-child(2) img{
    width: 120px;
      height: 150px;
}
#work .w .row:nth-child(2) div.img{
     width: 120px;
     height: 150px;
}
#work .w2{
    width: 255px;
    margin: auto;
    display: none;
}
#work .w2 .row{
    display: flex;
    justify-content:space-around;
    margin: auto;
}
#work .w2 .row:nth-child(1),#work .w2 .row:nth-child(3){
    width: 255px;
}
#work .w2 .row:nth-child(2),#work .w2 .row:nth-child(4){
     width: 120px;
}
#work .w2 .row:nth-child(2),#work .w2 .row:nth-child(3),#work .w2 .row:nth-child(4){
    margin-top: -32px;
}
#work .w2 .row img{
    width: 120px;
    height: 150px;
}

#ls{
    
    line-height: normal;
}
#ls h1{
    font-size: 25px;
    font-weight: normal;
    margin: 20px 0px 10px 0px;
    font-family: sans-serif;
}
#ls span img{
    width: 100%;
}
#ls p{
    font-family: sans-serif;
}
#ls p span{
    color: #ff0000;
}
#ls .list{
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin: 40px auto 0px auto;

}
#ls .list p{
    font-family: sans-serif;
  
}
#ls .button{
    margin-top: 0px;
}

#contact{
    line-height: normal;
}
#contact h1{
    font-weight:normal;    
    padding: 0px;
    margin: 0px;
     font-family: sans-serif;
}
#contact h1:nth-child(2){
    font-size: 27px;
    margin-top: 7px;
    margin-bottom: 125px;
    padding: 5px 0px;
}
#contact h1:nth-child(3){
    font-size: 19px;
      padding: 5px 0px;
}
#contact h1:nth-child(4){
    font-size: 23px;
    font-weight: bold;
      padding: 5px 0px;
}
#contact h1:nth-child(5){
    margin-bottom: 60px;
}
#contact h1:nth-child(6){
    padding-bottom: 5px;
}
#contact .button{
    
    margin-top: 120px;
}
#contact span img{
    width: 100%;
}
#about img,#price img,#work img,#ls img,#contact img{
       width: 100%;
    }










#bg-image{
    width: 100%;
     height:100%;
    position: absolute;
    z-index: 1;
    background: url(../img/bg/bg1.jpg) no-repeat center;
    background-size: cover;
}
#main{
    width: 100%;
	height: 100%;;
    position:absolute;
    z-index: 2;
    background-color:rgba(000,000,000,.7);
    padding-top: 55px;
}
#main .logo{
    width: 300px;
    display: block;
    margin: 0px auto 30px;
}
#main>h1{
    text-align: center;
    text-transform: uppercase;
    color: #ffe400;
    font-size: 25px;
    margin-bottom: 40px;
}
#main .content1 .row:nth-child(1){
    width: 360px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#main .content1 .row:nth-child(2){
    width: 470px;
    margin: -25px auto 0px;
    display: flex;
    justify-content: space-around;
}
#main .content1 .row img{
    width: 110px;
    height: 130px;
    cursor: pointer;
    position: relative;
    webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
}
#main .content2{
    width: 100%;
    display:none;
}

#main .content2 .row:nth-child(1){
    width: 210px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#main .content2 .row:nth-child(2){
    width: 320px;
    margin: -20px auto 0px;
    display: flex;
    justify-content: space-between;
}
#main .content2 .row:nth-child(3){
    width: 210px;
    margin: -20px auto 0px;
    display: flex;
    justify-content: space-between;
}
#main .content2 .row img{
     width: 100px;
     height:110px;
     webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
    cursor: pointer;
}
#main .form{
    width: 605px;
    padding-top: 25px;
    margin: 40px auto 0px;
    border: 1px solid #ffffff;
}
#main .form h1{
    text-align: center;
    margin-bottom: 17px;
    color: #ffffff;
    font-size: 25px;
}
#main .form input{
    text-align: center;
    width: 455px;
    background-color: transparent;
    border: none;
    display: block;
    margin:0px  auto 11px;
    border: 1px solid #ffffff;
    padding: 12px 0px ;
    background: url(../img/phone.png) no-repeat  10px 6px ;
    font-size: 16px;
	color: #ffffff;
}
#main .form a{
      padding: 10px 0px 10px;
      width: 455px;
      display: block;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      margin:0px auto 5px;
      background-color: #ffb400;
      color: #000000;
      font-size: 23px;
}

.anim{
    -webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}



















@media screen and (max-width:1105px){
    #price span{
        width: 90px;
        height: 90px;
        left: 95%;
    }
    #price span img{
        width: 100%;
    }
}

@media screen and (max-width:1024px){
    #bg-image,#main{
      height:1366px;
    }
     #main .logo{
        width: 450px;
    }
    #main h1{
        font-size: 45px;
        padding-top: 40px;
    }
    #main .content1 {
        width: 100%;
       
    }
    #main .content1 .row:nth-child(1){
        width: 720px;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }
    #main .content1 .row:nth-child(2){
        width: 920px;
        margin: -35px auto 0px;
        display: flex;
        justify-content: space-around;
    }
    #main .content1 .row img{
        width: 210px;
        height: 230px;;
    }
    #main .form{
        width: 700px;
        margin: 120px auto 0px;
        padding-bottom: 12px;
    }
    #main .form h1{
        font-size: 32px;
    }
    #main .form input{
       margin: 40px auto 40px auto; 
       display: block;
       padding: 20px;
    }
    #main .form a{
        padding: 20px;
    }
    #about,#price,#work,#ls,#contact{
        top: 300px;
    }
    
}
@media screen and (max-width:768px){
    #bg-image,#main{
      height:1024px;
    }
     #main .logo{
        width: 380px;
        margin-bottom: 25px;
    }
    #main h1{
        padding: 0px;
        margin-bottom: 10px;
        font-size: 32px;
        margin-top: 0px;
    }
    #main .content1 {
        width: 100%;
        margin-top: 0px
    }
    #main .content1{
        display: none;
    }
    #main .content2{
        display: block;
        margin-bottom: 0px;
    }
    #main .content2 .row:nth-child(1){
    width: 380px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    }
    #main .content2 .row:nth-child(2){
        width: 580px;
        margin: -35px auto 0px;
        display: flex;
        justify-content: space-between;
    }
    #main .content2 .row:nth-child(3){
        width: 380px;
        margin: -30px auto 0px;
        display: flex;
        justify-content: space-between;
    }
    #main .content2 .row img{
        width: 180px;
        height: 200px;
    }
    #main .form{
        margin-top: 20px;
        width: 550px;
    }
    #main .form h1{
        font-size: 25px;
    }
    #main .form input{
        padding: 13px 0px;
        margin: 10px auto;
    }
    #main .form a{
        padding: 10px;
    }
    #about,#price,#work,#ls,#contact{
        top: 230px;
    }
    #about .ex ,#price .ex,#work .ex,#ls .ex,#contact .ex{
        width: 60px;
        height: 60px;
        top: -6%;
        left: 95%;
    }
    #ls .list{
        width: 550px;
    }
}
@media screen and (max-width:414px){
    #bg-image,#main{
      height:736px;
    }
    #main{
        padding-top: 20px;
    }
    #main .logo{
        width: 280px;
        margin-bottom: 15px;
    
    }
    #main>h1{
        margin-bottom: 10px;
    }
    
    #main .content2 .row:nth-child(1){
            width: 235px;
            margin: auto;
            display: flex;
            justify-content: space-between;
    }
    #main .content2 .row:nth-child(2){
        width: 360px;
        margin: -25px auto 0px;
        display: flex;
        justify-content: space-between;
    }
    #main .content2 .row:nth-child(3){
        width:235px;
        margin: -25px auto 0px;
        display: flex;
        justify-content: space-between;
    }
    #main .content2 .row img{
         width: 110px;
        height: 130px;
    }
    #main .form{
        width: 90%;
        margin-top: 20px;
    }
    #main .form h1{
        font-size: 20px;
    }
    #main .form input,#main .form a{
        width: 95%;
        font-size: 15px;
    }
    #about,#price,#work,#ls,#contact{
        top: 100px;
        padding: 7px;
       
    }
    #about .ex ,#price .ex,#work .ex,#ls .ex,#contact .ex{
        width: 40px;
        height: 44px;
        top: -2%;
        left: 91%;
    }
    #about p,#price p,#work p,#ls p,#contact p{
        font-size: 12px;
    }
    #work .w{
        display: none;
    }
    #work .w2{
        display:block;
    }
    #work  h1{
        margin-bottom: 12px;
    }
   #work .w2 .row:nth-child(1),#work .w2 .row:nth-child(3){
    width: 200px;
    }
    #work .w2 .row:nth-child(2),#work .w2 .row:nth-child(4){
         width: 120px;
    }
    #work .w2 .row:nth-child(2),#work .w2 .row:nth-child(3),#work .w2 .row:nth-child(4){
        margin-top: -25px;
    }
    #work .w2 .row img{
        width: 90px;
        height: 110px;
    }
    #price{
        padding-top: 10px
    }
    #price h1{
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 2px;
    }
    #price .links{
        width: 100%;
        flex-flow: column;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #price .links .item img{
        width: 90px;
    }
   #price>a{
        margin-bottom: 0px;
    }
    #price p.button{
        margin-top: 0px;
        margin-bottom: 0px
    }
    #ls h1{
        margin-top: 0px;
         font-size: 20px;
        margin-bottom: 0px;
    }
    #ls>p{
        font-size: 11px;
       
    }
    #ls .list{
        width: 100%;
        flex-flow: column;
        margin-top: 5px;
    }
    #ls .city:nth-child(2){
        margin: 12px 0px;
    }
    #ls .button{
        margin: 10px auto 0px;
    }
    #contact h1:nth-child(2){
        margin-bottom: 100px;
    }
    #contact h1:nth-child(5){
        margin-bottom: 17px;
    }
    
    
}
@media screen and (max-width:411px){
    #bg-image,#main{
      height:823px;
    }
    #main{
        padding-top: 50px;
    }
    #main .logo{
        width: 280px;
        margin-bottom: 25px;
    
    }
    #main>h1{
        margin-bottom: 25px;
    }
    
    #main .content2 .row:nth-child(1){
            width: 235px;
            margin: auto;
            display: flex;
            justify-content: space-between;
    }
    #main .content2 .row:nth-child(2){
        width: 360px;
        margin: -25px auto 0px;
        display: flex;
        justify-content: space-between;
    }
    #main .content2 .row:nth-child(3){
        width:235px;
        margin: -25px auto 0px;
        display: flex;
        justify-content: space-between;
    }
    #main .content2 .row img{
         width: 110px;
        height: 130px;
    }
    #main .form{
        width: 90%;
        margin-top: 26px;
    }
    #main .form h1{
        font-size: 20px;
    }
    #main .form input,#main .form a{
        width: 95%;
        font-size: 15px;
    }
    #about,#price,#work,#ls,#contact{
        top: 100px;
        padding: 7px;
       
    }
    #about .ex ,#price .ex,#work .ex,#ls .ex,#contact .ex{
        width: 40px;
        height: 44px;
        top: -2%;
        left: 91%;
    }
    #about p,#price p,#work p,#ls p,#contact p{
        font-size: 12px;
    }
}
@media screen and (max-width:375px){
    #bg-image,#main{
      height:812px;
    }
    #main .logo{
        width: 280px;
        margin-bottom: 25px;
    }
    #main>h1{
        margin-bottom: 30px;
    }
    #main .content2 .row:nth-child(1){
            width: 206px;
            margin: auto;
            display: flex;
            justify-content: space-between;
    }
    #main .content2 .row:nth-child(2){
        width: 310px;
        margin: -20px auto 0px;
        display: flex;
        justify-content: space-between;
    }
    #main .content2 .row:nth-child(3){
        width: 206px;
        margin: -20px auto 0px;
        display: flex;
        justify-content: space-between;
    }
    #main .content2 .row img{
         width: 100px;
        height: 110px;
    }
    #main .form{
        width: 90%;
        margin-top: 40px;
    }
    #main .form input,#main .form a{
        width: 95%
    }
    #about,#price,#work,#ls,#contact{
        top: 100px;
        padding: 7px;
       
    }
    #about .ex ,#price .ex,#work .ex,#ls .ex,#contact .ex{
        width: 40px;
        height: 44px;
        top: -2%;
        left: 91%;
    }
    #about p,#price p,#work p,#ls p,#contact p{
        font-size: 12px;
    }
}
@media screen and (max-width:360px){
    #bg-image,#main{
      height:640px;
    }
    #main{
        padding-top: 10px;
    }
    #main .logo{
        width: 210px;
        margin-bottom: 5px;
    }
    #main>h1{
        margin-bottom: 10px;
        font-size: 22px;
    }
    #main .content2 .row:nth-child(1){
            width: 206px;
            margin: auto;
            display: flex;
            justify-content: space-between;
    }
    #main .content2 .row:nth-child(2){
        width: 310px;
        margin: -20px auto 0px;
        display: flex;
        justify-content: space-between;
    }
    #main .content2 .row:nth-child(3){
        width: 206px;
        margin: -20px auto 0px;
        display: flex;
        justify-content: space-between;
    }
    #main .content2 .row img{
         width: 100px;
        height: 110px;
    }
    #main .form{
        width: 80%;
        margin-top: 20px;
    }
    #main .form input,#main .form a{
        width: 95%
    }
    #about,#price,#work,#ls,#contact{
        top: 70px;
        padding: 7px;
       
    }
    #about .ex ,#price .ex,#work .ex,#ls .ex,#contact .ex{
        width: 40px;
        height: 44px;
        top: -2%;
        left: 91%;
    }
    #about p,#price p,#work p,#ls p,#contact p{
        font-size: 12px;
    }
    
    #about h1{
        margin-bottom: 0px;
        font-size: 20px;
    }
    #about p{
        font-size: 11px;
    }
    #about p.button{
        margin-top: 0px;
    }
    #work h1{
        margin-bottom: 0px;
        font-size: 20px;
    }
    #work h2{
        margin-top: 0px
    }
    #work p.button{
        margin: 10px auto 0px;
    }
    #price h1{ 
        font-size: 20px;
    }
    #price p{
        line-height: 1.2;
    }
    #ls .list p{
        font-size: 10px;
        padding: 0.3px 0px;
    }
    #contact h1:nth-child(2){
        margin-bottom: 40px;
    }
    #contact p.button{
        margin-top: 90px;
    }
}