@font-face{
    font-family:'font1';
    src:url("../fonts/font1.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family:'font2';
    src:url("../fonts/font2.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family:"font3";
    src:url("../fonts/font3.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}