html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video,.container-fluid{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    text-decoration: none;
}
html{
     
}

*{
    box-sizing: border-box;
    list-style: none;
    
}
label{
    border: 1px border white;
    display: block;
    color: red;
    font-family: "Roboto-Regular";
    margin-bottom: 5px;
}
body *{
    overflow-y: hidden;
    overflow-x: hidden;
}

/* bg contact*/
#bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(000,000,000,.6);
    z-index:9;
    display: none;
}

/* win contact*/
#contactForm{
    background-color: #ffffff;
    width: 500px;
    position: fixed;
    z-index: 10;
    top: 30%;
    padding-bottom: 30px;
    right: 0;
    left: 0;
    margin: auto;
    border: 1px solid #088dfd;
    display: none;
}
#contactForm .row{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
#contactForm .row img{
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
}

#contactForm>img{
    width: 200px;
    display: block;
    margin: 0px auto 20px;
}
#contactForm form{
    width: 400px;
    margin: auto;
}
#contactForm form *{
    display: block;
    width: 100%;
    
}

#contactForm form input{
    padding: 12px;
    margin-bottom: 5px;
    background-color: rgba(255,255,255,.3);
    color: #4B4B4B;
    font-family: "Roboto-Bold";
    outline: none;
    border: 1px solid #088dfd;
}

#contactForm form input[type="submit"]{
  border: none;
  padding: 10px;
  background-color: #088dfd;
  color: #ffffff;
  font-family: "Roboto-Regular";
}

@media screen and (max-width:600px){
    #contactForm{
        width: 80%;
    }
    #contactForm form{
         width: 80%;
    }
}














#description{
    width:500px;
    margin: auto;
    position: fixed;
    top: 20%;
    left:0;
    right: 0;
    background-color: #ffffff;
    z-index:8;
    border: 1px solid grey;
    display: none;
    overflow-Y: hidden;
    box-sizing:inherit;
}
#description .row{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
#description .row img{
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
}
#description h1{
    text-align: center;
    font-family: "Roboto-Bold";
    font-size: 25px;
}
#description p{
    font-family: "Roboto-Regular";
    text-align: center;
    margin-top: 20px;
    padding: 0px 20px;
}



@media screen and (max-width:600px){
    #description{
        width: 80%;
    }
   
}    
    
    
    
    
}
@media screen and (max-width:375px){
    
    
    
}





#send{
    
    width: 400px;
    
}

header{
    width: 100%;
    position: fixed;
    padding: 10px 0px;
    z-index: 7;   
    display: flex;
     align-items: flex-start
}
header nav{
    width: 310px;
    margin-top: 0px;
    margin-left: 20px; 
}
header nav .btn-menu{
    width: 40px;
    margin: 0px auto 0px;
    display: none;
}
header nav .btn-menu span{
    margin: auto;
    width: 90%;
    display: block;
    height: 5px;
    background-color: #033d5f;
}
header nav .btn-menu span:nth-child(2){
    margin-top:7px;
    margin-bottom: 7px
}

header .nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
header .nav-menu li a{
    color: #ffffff;
    font-family: "Roboto-Bold";
    font-size: 15px;
    color: #033d5f;
    display: block;
   
}
header .nav-menu li:nth-child(1){
     height: 30px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
header .nav-menu li.ex{
    display: none;
    height: 30px
}
header .nav-menu li.ex div{
   width: 100%;
    display: flex;
    justify-content: flex-end;
}
header .nav-menu li.ex div img{
    width: 30px;;
    height: 100%;
    display: block;
     
}
/*
header .nav-menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    margin-top: 0px;
}
.nav-menu{
    flex-flow: column;
   
}

*/

header .name{ 
    width: 280px;
    margin:  0px auto;
}

header .name h1{
    font-size: 34px;
    font-family: "Roboto-Medium";
    text-align: center;
    color: #033d5f;
}

header .name  p{
    font-family: "Roboto-Regular";
    font-size: 11.4px;
    text-align: center;
    color: #033d5f;
}


header .ph-con{
  width: 310px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;
  margin-top: 11px;
}

header .ph-con p{
    margin-top: 10px;
    font-family: "Roboto-bold";
    color: #033d5f;
}
header .ph-con a{
    padding: 10px 0px;
    width: 150px;
    background-color: #088dfd;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 15px;
    display: block;
}


@media screen and (max-width:968px){
    header nav{
        width: 260px;
        margin-left:10px;

    }
    header .name{
        width: 250px;
        padding-top: 10px;
    }
    header .name h1{
        font-size: 25px;
    }
    header .name p{
        font-size: 10px;
    }
    header .ph-con{
        width: 260px;
        flex-flow: column;
        margin-top: 6px;
        margin-right: 10px;
    }
    header .ph-con *{
        margin: 0px auto 6px auto;
    }
}




@media screen and (max-width:820px){
    header nav{
        margin-left: 0px;
        width: 150px;
    }
    header nav .btn-menu{
        display: block;
        margin-top: 16px;
    }
    header .name{
        width: 200px;
    }
    header .name h1{
        font-size: 20px;
    }
    header .nav-menu{
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(000,000,000,.8);
    margin-top: 0px;
    display: block;
    }
    
    header .nav-menu li.ex {
    display: block;
    }
    
    .nav-menu li{
       margin-bottom: 80px;
    }
    header .nav-menu li a{
        display: block;
        font-size: 32px;
        padding-left: 20px;
        color: #ffffff;
    }
    header .ph-con{
        width: 150px;
        margin-top: 0px;
    }
    header .ph-con p{
        font-size: 14px;
    }
    header .ph-con a{
          font-size: 14px;
           padding: 6px;
    }
    
}
@media screen and (max-width: 500px){
    header {
        padding: 0px;
        flex-flow: column;
    }
    header nav{
        width: 100%;
        padding: 10px 0px 0px;
    }
    header  nav .btn-menu{
        margin-top: 0px;
    }
    header .name{
        width: 100%;
    }
    header .ph-con{
        width: 100%;
    }
}
@media screen and (max-width: 339px){
    
}
.img-bg{

    width: 100%;
    height: 100%;
    position: fixed;
    z-index:1;
}


.img-bg1{
     background: url(../img/bg/hill.jpg) no-repeat center center;
    background-size: cover;
}
.img-bg2{
     background: url(../img/bg/bg2.jpg) no-repeat center center;
    background-size: cover;
}
.img-bg3{
     background: url(../img/bg/bg3.jpg) no-repeat center center;
    background-size: cover;
}
 .bg{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.36);
    position:fixed;
    z-index:2
}

#content{
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 20%;
    right: 0;
    left: 0;
    margin: auto;
    color: #ffffff;
    padding: 20px 0p;
}
#content img{
    display: block;
    margin: auto;
    width: 610px;
}
#content nav{
  margin-top: 140px;
}
#content .main_bainer{
   margin-bottom: 280px;
}
#content .main_bainer h1{
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 25px;
    width: 650px;
    margin: 10px auto 40px ;
    color: #4B4B4B;
}
#content .main_bainer a{
    display: block;
    width: 250px;
    text-align: center;
    margin: auto;
    padding: 6px;
    font-family: "Roboto-Medium";
    border: 2px solid #088dfd;
    border-radius: 120px;
    background-color: #ffffff;
    color: #088dfd;
}

@media screen and (max-width:700px){
    #content nav img,#content .main_bainer h1{
         width: 90%
    }
    #content .main_bainer a{
        width: 250px;
    }
}












#content .about{
    color: #4B4B4B;
    margin-bottom: 180px;
}
#content .about h1{
    text-align: center;
    font-family: "Roboto-Medium";
    font-size:52px;
}
#content .about .wrraper{
   width: 800px;
    margin: 70px auto 0px auto;
}
#content .about .wrraper .row p{
    font-family: "Roboto-Regular";
    margin-top: 0px;
    font-size: 18px;
}
#content .about .wrraper .row{
    padding: 0px;
}
#content .about .wrraper .row:nth-child(1){
    margin-left: -100%;
    width: 570px;
    border-right: 2px solid  #088dfd;
    padding-right: 20px;
}
#content .about .wrraper .row:nth-child(2){
    margin-left: 100%;
    
    width: 570px;
    border-left: 2px solid  #088dfd;
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#content .about .wrraper .row:nth-child(3){
      margin-left: -100%;
     width: 570px;
     border-right: 2px solid  #088dfd;
}

@media screen and (max-width:850px){
    #content .about h1{
        font-size: 42px;
    }
    #content .about .wrraper{
        width: 90%;
    }
    #content .about .wrraper .row p{
        font-size: 16px;
    }
    #content .about .wrraper .row:nth-child(1){
        width: 100%;
        margin-left: 0px
    }
    #content .about .wrraper .row:nth-child(2){
         width: 100%;
        margin-left: 0px
    }
     #content .about .wrraper .row:nth-child(3){
         width: 100%;
        margin-left: 0px
    }
}















#content .adv{
    text-align: center;
    font-family: "Roboto-Regular";
    font-size:  41px;
    margin-bottom: 180px;
}
#content .adv>h1{
    color: #4B4B4B;
    font-size:52px;
}
#content .adv .wrraper{
    width: 1000px;
    margin: 70px auto 0px;
    display: flex;
    justify-content: space-around;
    
}
#content .adv .wrraper h1{
    font-size: 35px;
    font-family: "Roboto-Black";
    color: #4B4B4B;
    
}
#content .adv .wrraper h2{
    font-size: 18px;
    font-family: "Roboto-Regular";
    color: #4B4B4B;
}

@media screen and (max-width:1100px){
    #content .adv .wrraper{
        width: 900px;
    }
    
}
@media screen and (max-width:1100px){
    #content .adv .wrraper{
        width: 900px;
    }
    
}
@media screen and (max-width:850px){
    #content .adv>h1{
        font-size: 42px;
    }
    #content .adv .wrraper h1{
        font-size: 32px;
    }
    #content .adv .wrraper h2{
        font-size: 22px;
    }
}
@media screen and (max-width:931px){
    #content .adv .wrraper{
        width: 700px;
    }
    
}

@media screen and (max-width:726px){
    #content .adv .wrraper{
        width: 90%;
    }
    
}

@media screen and (max-width:584px){
    #content .adv .wrraper{
        flex-flow: column;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #content .adv .wrraper .item{
        margin-top: 50px;
    }
}













#content .serv{
     margin-bottom: 180px;
}
#content .serv>h1{
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 52px;
    color: #4B4B4B;
}
#content .serv .wrraper{
    width: 1000px;
    margin: 70px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
#content .serv .wrraper .item{
    width: 290px;
}
#content .serv .wrraper .image{
    width: 100%;
    height: 220px;
    overflow: hidden;
}
#content .serv .wrraper .image img{
    width: 100%;
    height: 100%;
}
#content .serv .wrraper .image .bg{
    position: relative;
    top: -220px;
    background-color: rgba(8,141,253,.6);
    padding: 70px 0px 0px 0px;
    display: none;
}
#content .serv .wrraper .image .bg a{
    padding: 10px;
    display: block;
    width:160px;
    text-align: center;
    margin: auto;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: "Roboto-Bold";
}

#content .serv .wrraper .image .bg a:nth-child(2){
    
    margin-top: 10px
}
#content .serv .item h1{
    font-size: 15px;
    margin-top: 12px;
    color: #4B4B4B;
    text-align: center;
    font-family: "Roboto-Regular";
}
@media screen and (max-width:1100px){
    #content .serv .wrraper{
        width: 90%;
    }
    #content .serv .wrraper .item{
        width: 270px;
    }
}
@media screen and (max-width:947px){
    #content .serv .wrraper{
        width: 650px;
    }
    #content .serv .wrraper .item{
        width: 300px;
        margin-top: 10px;
    }
}
@media screen and (max-width:850px){
    #content .serv h1{
        font-size: 42px;
    }
    
}
@media screen and (max-width:688px){
    #content .serv .wrraper{
         width: 610px;
    }
    #content .serv .wrraper .item{
        width: 300px;
        margin-top: 10px;
    }
}
@media screen and (max-width:633px){
    #content .serv .wrraper{
         width: 580px;
    }
    #content .serv .wrraper .item{
        width: 280px;
        margin-top: 10px;
    }
}

@media screen and (max-width:605px){
    #content .serv .wrraper{
         width: 80%;
    }
    #content .serv .wrraper .item{
        margin: auto;
        margin-top: 10px;
    }
}









#content .contact{
    margin-bottom: 40px;
}
#content .contact>h1{
    text-align: center;
    color: #4B4B4B;
    font-size: 52px;
    font-family: "Roboto-Regular";
}
#content .contact .wrraper{
    display: flex;
}
#content .contact .wrraper .data{
   width: 300px;
   
   
}
#content .contact .wrraper .data div{
    margin-bottom: 20px;
    padding-left: 40px;
}
#content .contact .wrraper .data div h1{
    color: #4B4B4B;
    font-family: "Roboto-Regular";
    font-size: 22px;
}

#content .contact .wrraper .data div:nth-child(1){
    background: url(../img/icons/icon1.png) no-repeat  center left;
}
#content .contact .wrraper .data div:nth-child(2){
    background: url(../img/icons/icon2.png) no-repeat  center left;
}
#content .contact .wrraper .data div:nth-child(3){
    background: url(../img/icons/icon3.png) no-repeat  center left;
}
#content .contact .wrraper .data div:nth-child(4){
    background: url(../img/icons/icon4.png) no-repeat  center left;
}



#content .contact .wrraper .data div p{
    color: #4B4B4B;
    font-family: "Roboto-Regular";
}

#content .contact .wrraper{
    justify-content: space-around;
    
    width: 800px;
    margin: 70px auto
}

#content .contact .wrraper form{
    width: 300px;
}

#content .contact .wrraper form *{
    display: block;
    width: 100%;
    
}
#content .contact .wrraper form input[type="text"]{
    
    border: 1px solid  #088dfd;
    
}
#content .contact .wrraper form input{
    padding: 12px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,.3);
    color: #4B4B4B;
    font-family: "Roboto-Bold";
    outline: none;
    
}
#content .contact .wrraper form textarea{
    resize: none;
    width: 100%;
    height: 100px;
}
#content .contact .wrraper form input[type="submit"]{
  border: none;
  padding: 10px;
  margin-top: 20px;
  background-color: #088dfd;
  color: #ffffff;
  font-family: "Roboto-Regular";
}


@media screen and (max-width:850px){
    #content .contact>h1{
        font-size: 42px;
    } 
    #content .contact .wrraper{
        width: 600px;
    }
    
}
@media screen and (max-width:660px){
    #content .contact>h1{
        font-size: 42px;
    } 
    #content .contact .wrraper{
        width: 400px;
    }
    #content .contact .wrraper .data{
        width: 200px;
    }
    #content .contact .wrraper form{
        width: 200px;
    }
}

@media screen and (max-width:450px){
    #content .contact>h1{
        font-size: 42px;
    } 
    #content .contact .wrraper{
        width: 90%;
        flex-flow: column;
    }
    #content .contact .wrraper .data,
    #content .contact .wrraper form{
        width: 100%
    }
    
}
















#content footer{
    width: 100%;
    text-align: center;
    position: relative;
    top: 100%;
    z-index:45;
    font-family: "Roboto-Regular";
    padding: 6px;
    background-color: #033d5f;
    color: #ffffff;
    font-size: 11px;
}









 #content .main_bainer a{
    transition-property:background-color,color;
    transition-duration: 1s;
    -webkit-transition-property: background-color,color;
    -webkit-transition-duration: 1s;
    -mos-transition-property: background-color,color;
    -mos-transition-duration: 1s;
}

#content .main_bainer a:hover{
    background-color: #088dfd;
    color: #ffffff;
}





