#top .container {
  padding: 0px;
}
#top .col-md-10:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#top .row {
  padding: 0px;
  margin: 0px;
}
#top .logo {
  display: block;
  text-align: center;
  padding: 40px 0px 0px 0px;
}
#top .contact:nth-child(1) {
  font-size: 12px;
  padding: 20px 0px 0px 0px;
  width: 150px;
}
#top .contact:nth-child(1) p {
  margin: 0px;
}
#top .contact:nth-child(1) ul {
  list-style: none;
}
#top .contact:nth-child(2) {
  width: 200px;
  text-align: right;
  padding: 20px 0px 0px 0px;
}
#top .contact:nth-child(2) p {
  margin: 0px;
  font-size: 20px;
}
#top .contact:nth-child(2) a {
  display: block;
}

nav .container {
  background-color: #DADADA;
}
nav img {
  display: none;
}
nav #menu1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav #menu2 {
  display: none;
  heigth: 200px;
}
nav #menu2 li {
  padding: 10px 30px;
}

@media screen and (max-width: 768px) {
  nav img {
    display: block;
    cursor: pointer;
    margin-top: 12px;
  }
  nav #menu1 {
    width: 100%;
    display: none;
  }
  nav #menu2 {
    display: none;
    height: 0px;
    position: relative;
    z-index: 1;
  }
}
#main .sidebar {
  width: 100%;
  padding-top: 20px;
}
#main .sidebar .list1 {
  width: 100%;
}
#main .sidebar .list1 > li {
  font-size: 18px;
}
#main .sidebar .list1 > li ul {
  width: 100%;
}
#main .sidebar .list1 > li ul li {
  font-size: 15px;
  margin: 20px 0px 20px 0px;
}
#main .politic {
  font-size: 12px;
  text-align: center;
  display: block;
}
#main .content {
  width: 100%;
  padding: 70px 0px;
}
#main .content h1 {
  text-align: center;
  margin-bottom: 50px;
}
#main .content ul li {
  padding-left: 15px;
  font-size: 12px;
  background-image: url(../img/point.png);
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
