
@media screen and (max-width: 768px) {
  nav img {
    display: block;
    cursor: pointer;
    margin-top: 12px;
  }
  nav #menu1 {
    width: 100%;
    display: none;
  }
  nav #menu2 {
    display: none;
    height: 0px;
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
    #main .sidebar ul{
        text-align: center;
    }
}