body {
	margin:0;
	text-align:center;
}

	body .slider {
		overflow:hidden; /* Скрываем всё что за блоком слайдера */
		position:relative;
		height:500px;
		margin:0 auto;
	}
body .slider .slides {
			position:relative;
			transition:1s; /* Задаем время изменения блока, отвечает за плавную прокрутку */
}
		
body .slider .slides .slide {
               display: inline-block;
                background: url(../img/backgr.jpg) no-repeat 0px -411px;
                background-size:cover;
                float:left;
                display:block;
                width:1440px;
                height:435px; 
			}
 
.slider  .slides .slide .content{
   width: 521px;
   float: left;
   margin: 105px 0px 0px 145px;
   text-align: left;
}
.slider .content p{
 font-family:"Core-SansB";
 font-size: 35.8px;
 font-weight:900;
 letter-spacing: -0.2px;
 color: white;
}
.slider .content a{
    display: block;
    width: 179px;
    text-align: center;
    font-family: Core-Sans;
    text-decoration: none;
    font-weight: bold;
    margin-top: 24px;
    margin-left: 3px;
    height: 30px;
    padding-top: 5px;
    color: white;
    border-radius: 13px;
    background-color: #f49b14;
}		
	body .slider .navigation {
		position:absolute;
		width:100%;
		bottom:40px;
		left:0;
		z-index:1;
		cursor:pointer;
}
body .slider .navigation .dot{
			display:inline-block;
			width:16px;
			height:16px;
			background:#666666;
			cursor:pointer;
			border-radius:16px;
			margin:0 20px;
			border:1px solid #666666;
		}
		
body .slider .navigation .active{
			background:#fff;
}