html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video,.container-fluid{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    text-decoration: none;
  
}
html{
     
}

*{
    box-sizing: border-box;
    list-style: none;
}
body{
    overflow-y: scroll;
}



#main{
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

 #wrraper-main{
    width: 1000px;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 5px 0.6px #000000;
}
header .row {
    display:flex;
    justify-content: space-around;
    padding: 28px 0px 20px 0px;
    width: 100%;
    flex-wrap:wrap; 
    background-color: #e6e6e6
}
header .row .item:nth-child(1){
    width: 20%;
}
header .row .item:nth-child(1) img{
    width: 100%;
}
header .row .item:nth-child(2){
    padding-top: 12px;
    width: 39%;
}
header .row .item:nth-child(2) h1{
    font-family: 'EU';
    color: #1f588e;
    font-size: 34px;
    margin-top: 16px;
    line-height: 1;
        
}
header .row .item:nth-child(3){
    width: 20%;
    padding-top: 20px;
}
header .row .item p{
    text-align: right;
    color: #1f588e;
    font-family: 'Arial-Regular';
    font-size: 14px;
}
header .row .item .mode{
    margin-top: 9px;
}
 #wrraper-main header>nav{
   background: linear-gradient(90deg,#4297b4 5% ,#21659d 36%,#21659d 54%, #1b496d 75%)
    
}
 #wrraper-main nav ul.main-1{
    width:75%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Arial';
    
}
#wrraper-main nav  .btn{
    width: 40px;
    height: 30px;
    display: none;
}
#wrraper-main nav  .btn span{
    width: 80%;
    background-color: #ffffff;
    display: block;
    height: 6px;
    margin: auto;
}
#wrraper-main nav  .btn span:nth-child(2){
    margin: 6px auto;
}
 #wrraper-main nav ul.main-1 li a{
    text-decoration: none;
    padding: 18px 0px;
    display: block;
    font-size: 12.5px;
    color: #ffffff;
}
#wrraper-main nav ul.main-2{
    display: none;
}
#wrraper-main nav ul.main-2 li a{
    text-decoration: none;
    padding: 20px 20px;
    display: block;
   font-family: 'Arial-Regular';
    font-size: 15px;
    color: #ffffff;
}

 #wrraper-main .content{
    width: 100%;
    padding: 4px 0px 20px 0px;
    display: flex;
}
 #wrraper-main .content .sidebar{
    width: 26%;

}

#wrraper-main .content .sidebar h2{
    font-family:"Arial-Bold";
    margin-top: 0px;
    color: #004b76;
    background-color: #c5def9;
    padding: 10px 0px 10px 24px;
    font-size: 15px;
    
}


#wrraper-main .content .sidebar .list{
    margin: 10px 0px 0px 0px;
}
#wrraper-main .content .sidebar .list li {
    
}
#wrraper-main .content .sidebar .list>li {
    
}
#wrraper-main .content .sidebar .list li a{
    font-size: 13px;
    display: block;
    font-family: 'Arial-Regular';
}
#wrraper-main .content .sidebar .list>li>a{
    padding: 5px 0px 5px 24px;
    color: #383838;
    
} 
.amb{
    
    background:url(../img/arrow.png) no-repeat 5px 10px;
}
.amt{
    
    background:url(../img/arrowT.png) no-repeat 5px 10px;
}

.ahb{
    
    background:url(../img/arrow.png) no-repeat 5px 15px;
}
.aht{
    
    background:url(../img/arrowT.png) no-repeat 5px 15px;
}
#wrraper-main .content .sidebar .list  .list-sub{
    margin-left: 40px;
}
#wrraper-main .content .sidebar .list  .list-sub li{
    margin-bottom: 5px;
}
#wrraper-main .content .sidebar .list  .list-sub li a{
    padding: 5px 5px 1px 10px;
    color: #4c6885;
    font-family: "Arial";
    background: url(../img/circle.png) no-repeat center left;
    display: inline-block;
    border-bottom: 1px solid #4c6885;
}

#wrraper-main .content .sidebar aside{
    padding-bottom: 15px;
}
#wrraper-main .content .sidebar aside:nth-child(1),
#wrraper-main .content .sidebar aside:nth-child(3){
    background-color: #d2ebff;
      border-bottom: 1px solid #759bc5
}
#wrraper-main .content .sidebar aside:nth-child(3){
    border-bottom: none;
}


#wrraper-main .content .sidebar aside:nth-child(1) h2,
#wrraper-main .content .sidebar aside:nth-child(3) h2{
    
    border-bottom: 1px solid #759bc5
}

#wrraper-main .content .sidebar aside:nth-child(2)
{
     background-color: #c5def9;
     border-bottom: 1px solid #759bc5;
    
}
#wrraper-main .content .sidebar aside:nth-child(2) .list{
     margin: 0px 0px 0px 66px;
}
#wrraper-main .content .sidebar aside:nth-child(2) .list  li a{
    padding-left: 11px;
    display: inline-block;
    color: #4c6885;
    font-family: "Arial";
    background: url(../img/circle.png) no-repeat center left;
    border-bottom: 1px solid #4c6885;
}



#wrraper-main .content{
     background-color: #e9e9e9;
}

 #wrraper-main .content .info{
    width: 78%;
    padding-top: 5px;
    padding-bottom: 10px;
}

 #wrraper-main .content .info .slider{
    width:98%;
    height: 31vh;
    margin: auto;
    
}
 #wrraper-main .content .info .slider>div{
    height: 100%;
    display: none;
}
 #wrraper-main .content .info .slider .sl1 img{
    width: 100%;
    height: 100%;
}
 #wrraper-main .content .info .slider>div:nth-child(1){
    display: block;
}
#wrraper-main .content .info .shadow{
    width: 80%;
    height: 9px;
    margin: -9px auto;
    box-shadow: 0px 1px 8px #000000;
}
 #wrraper-main .content .info .switch{
    width: 150px;
    height: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
 #wrraper-main .content .info .switch span{
    width:10px;
    background-color: #6dc2e0;
    border-radius: 120px;
    cursor: pointer;
}
 #wrraper-main .content .info .switch span .pointer{
     border-radius: 120px;
    width: 4px;
    height: 4px;
    margin: 3px auto 0px;
    background-color: #ffffff;
}

 #wrraper-main .content .info .switch span:nth-child(2n){
    background-color:#4fa9da;
}
 #wrraper-main .content .info .switch span:nth-child(3n){
    background-color:#3f92ce;
}
 #wrraper-main .content .info .switch span:nth-child(4n){
    background-color:#377cb6;
}
 #wrraper-main .content .info .switch span:nth-child(5n){
    background-color:#31648f;
}
 #wrraper-main .content .info .switch span:nth-child(6n){
    background-color:#2f5a7b;
}
#wrraper-main .content .info .month-list{
    margin-top: 20px;
    font-family: 'Arial-Regular';
}
 #wrraper-main .content .info .month-list h1{
    text-align: center;
    color: #1f588e;
    font-size: 18px;
}
 #wrraper-main .content .info .month-list .wrraper{
    width: 540px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap; 
}
 #wrraper-main .content .info .month-list .wrraper .item{
    width: 80px;
    margin-top: 12px;
}
#wrraper-main .content .info .month-list .wrraper .item a{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: #c5def9;
    color:#1f588e;
}

 #wrraper-main .content .info .tours{
    width: 100%;
}
#wrraper-main .content .info .tours .t{
    width: 540px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: 'Arial-Regular';
}
 #wrraper-main .content .info .tours .t .desc{
    width: 273px;
}
 #wrraper-main .content .info .tours .t .img-pr{
    width: 236px;
   
    
}
 #wrraper-main .content .info .tours .t .img-pr img{
     width: 237px;
    height: 156px;
}
 #wrraper-main .content .info .tours .t .img-pr p{
    text-align: center;
    margin-top: 5px;
    color:#1f588e;;
    font-weight: bold;
}
 #wrraper-main .content .info .tours .t .desc h1 span {
    font-size: 22px;
    border-bottom: 1px solid #1f588e;
    color: #1f588e;
}
#wrraper-main .content .info .tours .t .desc p.city{
    font-size: 13.3px;
    font-weight: bold;
    color: #557d40;
}
 #wrraper-main .content .info .tours .t .desc p{
   margin-top: 7px;
}
#wrraper-main .content .info .tours .t .desc a{
    display:inline-block;
    margin: 7px 0px 0px 0px;
    text-decoration: none;
    border-bottom: 1px solid #557d40;
    color: #557d40;
}



#wrraper-main footer{
   padding-bottom: 70px;
    background: linear-gradient(30deg,#4297b4 0.3% ,#21659d 30%,#1a496c 70%);
}
#wrraper-main footer .shadow{
   
    
    box-shadow:  0px 11px 24px 2px #000000;
}
#wrraper-main footer .wrraper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#wrraper-main footer .logo-contact{
    width: 200px;
    margin-top: 60px;
}

#wrraper-main footer .logo-contact a{
    display: block;
    margin-bottom: 20px;
}
#wrraper-main footer .logo-contact p{
    color: #ffffff;
    padding: 5px;
    font-size: 14px;
    font-family: "Arial-Regular";
}
#wrraper-main footer .logo-contact .phone1{
    background: url(../img/wt.png) no-repeat 140px center; 
}
#wrraper-main footer nav{
    padding-top: 60px;
}
#wrraper-main footer .wrraper nav .contact{
    display: none;
}
#wrraper-main footer nav h1{
    font-family:"Arial-Regular";
    font-size: 25px;
    color:#a3b1be;
}
#wrraper-main footer nav .row{
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-top: 40px;
}
#wrraper-main footer nav .row a{
    font-family:"Arial-Regular";
    font-size: 13px;
}
#wrraper-main footer nav .row .menu-list1{
    width: 122px;
} 

#wrraper-main footer nav .row .menu-list1 li a{
    display: inline-block;
    color: #ffffff;
    margin: 5px 0px;
    border-bottom: 1px solid #ffffff;
}
#wrraper-main footer nav .row .menu-list2{
    width: 163px;
}

#wrraper-main footer nav .row .menu-list2 li a{
    display: inline-block;
    color: #ffffff;
    margin: 5px 0px;
    border-bottom: 1px solid #ffffff;
}
#wrraper-main footer nav .aferta{ 
    margin-top: 20px;
    color: #ffffff;  
}
#wrraper-main footer nav .aferta p{
  margin-bottom: 5px;
    font-family: "Arial"
}
#wrraper-main footer nav .aferta p span{
    border-bottom: 2px solid #ffffff;
}
    















